{% extends 'base.html.twig' %}


{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <table>
        <thead>
            <tr> 
                <th>Nom de l'article</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>
    {% for article in articles %}
            <tr> 
                <td><a href="{{path('afficherArticle', {id: article.id})}}">{{ article.Name }}!</a></td>
                <td>{{article.category}}</td>
                <td>{{article.votesString}}</td>
            </tr>
    {% endfor %}
    </tbody>
</div>





{% endblock %}

